body{
  margin:0px;
  display:flex;
  flex-direction:column;
}

nav{
  position:sticky;
  background:#3D5B41;
  font-size:20px;
  top:0;
  color: white;
  font-family: 'Zilla Slab', serif;
}

nav ul li {
  display:inline-block;
  margin:55px;
  margin-top:25px;
  margin-bottom:15px;
}

nav ul{
  text-align:right;
  margin-block-start:0em;
  margin-block-end:0em;
}


#welcome-section{
  background:#3D5B41;
  min-height:55vh;
  text-align:center;
  padding-top:40vh;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
}

#projects{

  height:800px;

}

.just-projects{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.title-project h1{
  background:white;
  border: #BEDF1F 5px solid;
  margin:25px;
  margin-right:400px;
  margin-left:400px;
  text-align:center;
}


.project{
  height:300px;
  width:400px;
  display:flex;
  flex-direction:column;
  border:#BEDF1F 5px solid;
  border-radius: 20px;
  background:#2E7DCB;
  margin-bottom:20px;
}

.mini{
  display:flex;
  align-items:center;

}
.project-title{
  background:#25619D;
  display:flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size:20px;
  justify-content:center;
  align-items:center;
}

.miniimg{
  height:238px;
  width:400px;
  border-top-left-radius: 18px;
  border-top-right-radius:18px;
}
#contact-section{
  background:#DF2C2C;
  height:300px;
}

.networksimg{
  height:100px;
  width:100px;
  border-radius:100%;
  border: 5px solid;
}

.networks{
  display:flex;
  justify-content:center;
}

.buttons-contacts{
  padding-top:50px;
  margin-right:35px;
}

.contact-phrase{
  font-size:30px;
  padding-top:20px;
  text-align:center;
}

@media (max-width:900px){

  nav ul li {
  margin:15px;
  margin-top:20px;
  margin-bottom:15px;
}

nav ul{
  text-align:right;
  margin-block-start:0em;
  margin-block-end:0em;
}

  .title-project h1{
  background:white;
  border: #BEDF1F 5px solid;
  margin:25px auto 0 auto;
  text-align:center;
}

  #projects{
  height:100%;
  }

  .project{
  height:80%;
  width:80%;
  margin: 10px 20px 20px 20px;
}
  .miniimg{
  height:80%;
  width:100%;
}

 .networksimg{
  border-radius:100%;
  border: 5px solid;
  height:50px;
  width:50px;
}

  .networks{
  display:flex;
  justify-content: space-around;
  }

  .buttons-contacts{
  padding-top:50px;
  margin-right:15px;
}

}
