
<section class="section initial">
    <div class="container">
      <h1 class="title"><strong>404 Not Found</strong></h1>
      <h2 class="subtitle">
        I was unable to locate the page !!
      </h2>
        <img src="https://www.sunnyskyz.com/uploads/2017/11/mm0d2-puppy-sad-face-2.jpg" alt="dog picture">
    </div>
  </section>
