<!DOCTYPE html>
<html lang="en" dir="ltr" >
  <head>

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Righteous|Sigmar+One|VT323" rel="stylesheet">
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body class="has-navbar-fixed-top">
    <% include ./partials/nav %>
    <%- body %>
    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
  <script  type="text/javascript" src="/js/bulma.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </body>
</html>
